@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Roboto:wght@300;400;700&display=swap");

:root {
  --text-color: #fff;
  --subhead-color: #d0d6f9;
  --dark-background: #0b0d17;
  --font-one: Bellefair;
  --font-two: Barlow;
  --font-three: "Barlow Condensed";
  --h1-size: 150px;
  --h2-size: 100px;
  --h3-size: 56px;
  --h4-size: 32px;
  --h5-size: 28px;
  --subhead-two-size: 14px;
  --nav-text-size: 16px;
}
/* font-family: 'Roboto', sans-serif; */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: var(--font-two), "Roboto", sans-serif;
  line-height: var(--h4-size);
  font-weight: 400;
}

.background {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
}
.header {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  margin: 0 1.5rem;
}
.navlist-items {
  display: none;
}
.close-btn {
  display: none;
}
.navlist,
.tablet-navlist {
  list-style: none;
  font-family: var(--font-three), "Roboto", sans-serif;
}
.navlink {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  letter-spacing: 2.7px;
}
.navlink:nth-last-child(1),
.tablet-navlink {
  text-transform: uppercase;
}
.list-no {
  width: 30px;
  font-weight: 700;
}
.menu-btn,
.close-btn {
  background: none;
  border: none;
  padding: 0;
}
.menu-icon,
.close-icon {
  cursor: pointer;
}
.line {
  display: none;
}
.navlist-container.open {
  position: absolute;
  top: 0;
  right: -23px;
  background: var(--dark-background);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  animation-name: slide;
  animation-duration: 1s;
  width: 80%;
  height: 100vh;
  overflow-x: hidden;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
.navlist-container.open .navlist-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10rem;
  transition: 0.5s ease-in;
}
.navlist-container.open .close-btn {
  position: absolute;
  display: block;
  top: 33px;
  right: 22px;
}
.tablet-nav {
  display: none;
  background: #383b4b;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}
.tablet-navlist-items {
  display: flex;
  margin: 0 1.5rem;
  padding: 0;
  gap: 3rem;
}
.tablet-navlink {
  padding: 1rem 0;
  letter-spacing: 2.36px;
  font-size: 14px;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  height: 65px;
}
.tablet-navlink.active,
.planet a.active {
  border-bottom: 3px solid #fff;
}
.tablet-navlink:hover,
.planet a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  /* color: rgba(255, 255, 255, 0.5); */
}
.main {
  display: grid;
  place-content: center;
  height: 40vh;
  margin-top: 135px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}
.subhead,
.destination-subhead {
  font-family: var(--font-three), "Roboto", sans-serif;
  font-size: var(--nav-text-size);
  letter-spacing: 2.7px;
  color: var(--subhead-color);
  text-transform: uppercase;
}
.head,
.planet-head {
  font-family: var(--font-one), "Roboto", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
}
.main-content-text {
  width: 88%;
  margin: 0 auto;
  font-size: min(15px, 0.85rem);
  line-height: 25px;
  color: var(--subhead-color);
}
.explore-btn {
  font-family: var(--font-one), "Roboto", sans-serif;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #fff;
  font-size: 20px;
  letter-spacing: 1.25px;
}

/* DESTINATION */

.destination,
.crew {
  display: grid;
  place-content: center;
}
.title {
  text-align: center;
}
.destination-subhead {
  color: var(--text-color);
}
.destination-subhead span {
  margin-right: 20px;
  mix-blend-mode: normal;
  opacity: 0.25;
  position: relative;
  z-index: -1;
}
.destination-desc,
.crew-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.planet-img {
  width: 170px;
  aspect-ratio: 1/1;
}
.planet-list,
.crew-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  margin: 1rem auto;
  gap: 1rem;
  padding-left: 0;
  font-family: var(--font-three), "Roboto", sans-serif;
}
.planet,
.member {
  list-style: none;
}
.planet a {
  cursor: pointer;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  color: var(--subhead-color);
}
.planet a.active {
  color: var(--text-color);
}
.planet-details {
  text-align: center;
}
.planet-head {
  font-size: 56px;
  font-family: var(--font-one), "Roboto", sans-serif;
}

.planet-line,
.crew-line {
  width: 90%;
  margin-top: 2.5rem;
  color: #383b4b;
}
.avg-distance-box {
  display: flex;
  flex-direction: column;
}
.distance {
  font-size: 14px;
}
.distance-value {
  font-size: var(--h5-size);
  font-family: var(--font-one), "Roboto", sans-serif;
  text-transform: uppercase;
}

/* Crew */
.crew {
  margin-top: -5%;
}
.crew-img {
  width: 177.12px;
  height: 222px;
}
.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.555);
  border-radius: 100%;
}
.crew-list {
  width: 20%;
  margin: 2rem auto;
}
.crew-line {
  margin-top: -0.6rem;
  border: 0.5px solid #383b4b;
}
.crew-desc{
  margin-top: 15%;
}
.crew-details {
  display: grid;
}
.crew-designation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.position {
  text-transform: uppercase;
  font-family: var(--font-one), "Roboto", sans-serif;
  font-size: var(--nav-text-size);
  opacity: 49.51%;
  z-index: -1;
}
.name {
  text-transform: uppercase;
  font-family: var(--font-one), "Roboto", sans-serif;
  font-size: 24px;
}
.carousel-dot {
  cursor: pointer;
  width: 10px;
}

.dot.active {
  background: #fff;
}
.crew-list a:hover {
  opacity: 50.01%;
}
.crew-text {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1151.9px) {
  .hamburger {
    display: none;
  }
  .tablet-nav {
    display: block;
  }
  .header {
    margin: 0 0 1.5rem 1.5rem;
    align-items: flex-end;
    padding-top: 4rem;
  }
  .list-no {
    display: none;
  }
  .subhead,
  .destination-subhead {
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .head {
    font-size: var(--h1-size);
  }
  .main {
    height: 60vh;
    margin-top: 200px;
  }
  .main-content {
    gap: 10rem;
  }

  .main-content-text {
    font-size: 16px;
    line-height: 28px;
    width: 70%;
  }
  .explore-btn {
    width: 242px;
    height: 242px;
    font-size: 32px;
  }
  .distance {
    font-size: 14px;
  }
  .distance-value {
    font-size: var(--h5-size);
    font-family: var(--font-one), "Roboto", sans-serif;
    text-transform: uppercase;
  }
  .destination-subhead {
    text-align: left;
    margin-left: 5%;
  }
  .travel-details {
    display: flex;
  }
  .avg-distance-box {
    flex: 30%;
  }
  .planet-list {
    width: 50%;
    margin: 3rem auto;
  }
  .planet-img {
    width: 300px;
  }
  .planet-head {
    font-size: 80px;
  }
  .planet-line {
    margin: 5rem auto 3rem auto;
    width: 80%;
  }
  .crew-list {
    width: 10%;
    order: 3;
    margin: 4rem auto;
  }
  .crew-desc {
    flex-direction: column-reverse;
  }
  .crew-img {
    width: 456.37px;
    height: auto;
  }
  .crew-designation {
    gap: 1rem;
  }
  .position {
    font-size: 24px;
  }
  .name {
    font-size: 40px;
    margin-bottom: 2rem;
  }
  .crew-line {
    display: none;
  }
}

@media (min-width: 1152px) {
  .header {
    margin: 1.5rem 0 1.5rem 1.5rem;
  }
  .subhead,
  .destination-subhead {
    font-size: var(--h5-size);
    letter-spacing: 4.72px;
  }
  .head {
    font-size: var(--h1-size);
  }
  .main-content-text {
    font-size: 18px;
    line-height: 32px;
    margin: 0;
  }
  .hamburger {
    display: none;
  }
  .tablet-nav {
    display: block;
  }
  .tablet-navlink {
    height: 75px;
  }
  .main-content {
    flex-direction: row;
  }
  .main-content-text {
    width: 80%;
  }
  .main-content-text-container {
    text-align: left;
    margin-left: 10%;
  }
  .main-btn-container {
    margin-top: 5%;
  }
  .main {
    height: 55vh;
  }
  .main-content > div {
    flex: 50%;
  }
  .explore-btn {
    width: 274px;
    height: 274px;
    font-size: 32px;
  }
  .line {
    display: block;
    position: relative;
    width: 80%;
    border: 1px solid white;
    right: -35px;
    z-index: 10;
  }
  .tablet-nav {
    padding: 0 6rem;
  }
  .destination-desc {
    flex-direction: row;
  }
  .planet-container,
  .planet-details {
    flex: 50%;
  }
  .planet-details {
    text-align: left;
  }
  .planet-list {
    margin: 0;
    width: 50%;
  }
  .destination-subhead {
    text-align: left;
    margin-left: 5%;
  }

  .planet-img {
    width: 445px;
    margin-left: 15%;
  }
  .distance {
    font-size: 14px;
  }
  .distance-value {
    font-size: var(--h5-size);
    font-family: var(--font-one), "Roboto", sans-serif;
    text-transform: uppercase;
  }
  .planet-line {
    margin-left: 0;
    width: 70%;
  }
  .travel-details {
    display: flex;
  }
  .avg-distance-box {
    flex: 30%;
  }
  .destination {
    height: 75vh;
  }
  .crew {
    margin-top: 0;
  }
  .crew-desc {
    flex-direction: row-reverse;
    margin-top: 0;
  }
  .crew-line {
    display: none;
  }
  .crew-container,
  .crew-details {
    flex: 50%;
  }

  .crew-text {
    text-align: left;
    margin-left: 10%;
  }
  .crew-designation {
    align-items: flex-start;
    margin-left: 10%;
    margin-top: -7%;
    gap: 2rem;
  }
  .crew-details {
    margin-top: 10%;
  }
  .crew-list {
    order: 3;
    margin: 6rem 0 3rem 11%;
  }
  .position {
    font-size: 32px;
  }
  .name {
    font-size: 56px;
    margin-bottom: 2rem;
    line-height: 64.18px;
  }
  .crew-img {
    width: 450px;
    height: auto;
    margin-top: -11%;
    margin-left: 15%;
  }
}
